# intermediate states
*.pyc
.terraform*
.venv/
.coverage

# possible debug files
*.json
!data/*.json

# local storage of keys / credentials
.env*
!.env*.template
.keys/
*.txt
!requirements.txt
!requirements-dev.txt